.messages{
    display: flex;
    height: 500px;
    padding: 10px 0 0 20px;
}
hr{
    height: 100px;
    margin-left: 100px;
    width: 2px;
    background-color: rgb(55, 77, 201);
    border: none;
}
.chat{
    display: flex;
    flex-direction: column;
    margin-right: 570px;
}
.input{
    margin-top: 15px;
    height: 27px;
    border-radius: 5px;
    border: none;
}
.btn{
    margin-top: 10px;
    border: none;
    background-color: rgb(95, 110, 212);
    color: white;
    padding: 5px;
    width: 60%;
    border-radius: 10px;
}