.me{
    display: grid;
    grid-template-columns: 4fr 9fr;
    gap: 10px;
}
.me img{
    width: 100%;
}
.posts{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.post img{
    width: 60px;
    margin: 5px;
}
.post{
    margin: 20px 0;
}
.me p{
    margin-left: 10px;
}