body{
  margin: 0;
  background-color: aliceblue;
  color: rgb(33, 61, 61);
}
.wrapper{
  color: rgb(26, 81, 183);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  'header header'
  'navBar profile';
  gap: 10px;
  grid-template-columns: 2fr 10fr;
}
.wrapper > div{
  background-color: rgb(182, 216, 255);
  border-radius: 10px;
}
.header{
  grid-area: header;
}
.navBar{
  grid-area: navBar;
}
.profile{
  grid-area: profile;
}